body {
    margin: 0%;
    background-color:white;
    font-family: sans-serif;
}
header {
    width: 100%;
    height: 815px;
    background: url(https://media.discordapp.net/attachments/903377231655608390/910130974359191642/unknown.png?width=960&height=411);
    background-repeat: no-repeat;
    background-size: contain;

    }
header nav li {
    list-style: none; 
    display: inline; 
    padding: 30px;
    text-align: right;
    margin: auto; 
    }
    a {
        text-decoration: none;
        color: gray; 
      }
    .container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    }
 img {
     height: 17px;
     margin-top: 15px;
  }
  .logo-top {
    margin-top: 5x;
    margin-left: 60px;
    
  }
  nav {
      background-color: black;
  }
  header nav ul {
    margin-top: 0 auto;
    margin-left: 550px;
    float: right;
    text-decoration: none;
 }
     
.logoaxit {
    margin-top: 250px;
    margin-left: 250px;
    height: 50px;
}
h1 { 
    text-transform: uppercase;
    color: rgb(235, 232, 232);
    font-weight: 200;
    margin-left: 250px;
   }
hr {
    width: 2cm;
    margin-left: 250px;
    margin-top: 50px;
   }
   div p {
    color: rgb(235, 232, 232);
    margin-left: 250px;
    margin-top: 50px;
   }
   .button {
       margin-left: 250px;
       background: none;
       color: rgb(235, 232, 232);
       font-size: 20px;
       margin-top: 50px;
       border: 2px solid #cecece;
       padding: 15px; 25px;
   }
   .trial {
       height: 350px;
       width: 350px;
       background-color: white;
       text-align: center;
       margin-top: 330px;
       margin-left: 580px;
       border-radius: 10px;
   }
   .account {
       background-color: white;
       text-align: center;
       padding: 25px 0;
       font-weight: bold;
       font-size: 15px;
       border-radius: 10px;
       
         }

         span {
            color: tomato;
         }
  .container1 {
      display: flex;
      margin-top: -50px;
          }
      input {
          border: none;
          color: whitesmoke;
          font-size: 14px;
          padding: 5px;
          width: 80%;
          height: 50px;
          margin-left: 20px;
          border-bottom: 2px solid #ccc9c9;
      }
      .getstarted {
          border: none;
          background-color: tomato;
          text-align: center;
          width: 100%;
          height: 50px;
          margin-top: 47px;
          border-radius: 0px 0px 10px 10px;
      }
      .social {
          display: flex;
          justify-content: space-between;
          text-align: center;
          background-color: rgb(250, 225, 229);
          margin-top: 0px;
          
     }
      .lorem {
      color: rgb(116, 112, 112); 
      margin-left: 250px;
    }
        .social-text {
        margin-bottom: 20px;                 
            }
            .social-media-icons {
                float: right;
                width: 635px;
                list-style: none;
             }   
             .social-media-icons ul li {
                 display: inline;
                 margin-left: 0px;
                 padding: 0px 15px;
             }   
             
             .icons {
                height: 50px;
                margin-top: 10px;
             }
                
           .containar-tab {
               display: flex;
               justify-content: space-between;
               background-color: white;
               
              
           } 
           .tabs {
               display: flex;
               flex-direction: column;
               list-style: none;
               margin-top: 130px;
               margin-left: 250px;
               gap: 10px;
               
           } 
           .tab1 {
               padding: 10px;
               width: 120px;
               height: 120px;
               box-sizing: border-box;
               background-color: tomato;
               margin-left: 150;
               border-radius: 10px;
               padding-top: 50px;
               padding-left: 40px;
           }
           .tab2 {
            padding: 10px;
            width: 120px;
            height: 120px;
            box-sizing: border-box;
            background-color: rgb(17, 16, 16);
            margin-left: 150;
            border-radius: 10px;
            padding-top: 50px;
               padding-left: 40px;
        }
        .tab3 {
            padding: 10px;
            width: 120px;
            height: 120px;
            box-sizing: border-box;
            background-color: rgb(17, 16, 16);
            margin-left: 150;
            border-radius: 10px;
            padding-top: 50px;
               padding-left: 40px;
        }
        .main-text {
            margin-left: -100px;
            margin-top: 130px;
            text-transform: uppercase;
        }
        .main-text p {
            margin-left: 0px;
            color:rgb(107, 104, 104)
        }
        .main-text h2 {
            font-size: 20px;
            font-weight: bold;
}
.button-download {
    margin-left: 0px;
       background: tomato;
       color: rgb(235, 232, 232);
       font-size: 15px;
       margin-top: 70px;
       width: 180px;
       padding: 20px; 35px;
       border-radius: 10px;
}
.town img {
    width: 350px;
    height: 300px;
    margin-top: 100px;
    margin-right: 200px;
}
.container-awesome {
    text-align: center;
    background-color: white;
    margin-top: 200px;
}
.orange-line {
    width: 80px;
    height: 2px;
    background: coral;
    margin-left: 1150px;
    margin-top: 35px;
}
.awesome-icone1 {
    margin-left: 20px;
}
.container-awesome {
    margin-left: -250px;
}
.container-awesome h1 {
    color: rgb(63, 61, 61);
}  

.container-awesome p {
    color: rgb(121, 117, 117);
} 
.container-adv {
    display: flex;
    justify-content: space-evenly;

}
.container-adv h3{
    margin-left: 150px;
    margin-bottom: 0px;
}
.container-adv p {
    margin-right: 20px;
}

   .awesome-icone1 img {
    margin-left: 350px;
    margin-top: 100px;
    margin-bottom: 25px;
    width: 80px;
    height: 80px;
   }
     
   .awesome-icone1 {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       text-align: ;
   }
   .container-adv {
       padding-left: 100px;
       margin-bottom: 100px;
   }
    h3  {
margin-left: 200px;
   }

   #price{
       background:gainsboro;
       color:grey;display:flex; 
       flex-direction:column;
       padding:50px 100px;}
   
   .pricehead h3 {
   color:black;
}
.line {
    width: 80px;
    height: 2px;
    margin-left: 1050px;
    background: tomato;
}
   .pricehead{text-align:center;}
   
   .columns{
       display:flex;
       justify-content:space-between;
       margin-left: 200px;
    }
   .price{
       list-style:none;
       float:left;
    }
   .price li{
       border:none;
       padding:10px 120px;
       margin:5px auto;
       background:white;
       text-align:center;
    }
   .dark{
       color:white;
    background: black;
}
   .dark1{
       color:white;
    }
   
  .line2 {
    width: 80px;
    height: 2px;
    margin-left: 1150px;
    background: tomato;
  }
  .reviews {
    display: flex;
    justify-content: space-between;
  }
  .customer-reviews {
    flex-basis: 25%;
    text-align: left;
  }
  .message {
    position: relative;
    width: 100%;
    min-height: 80px;
    margin-top: 50px;
    padding: 10px 15px;
    text-align: left;
    background: #f5f5f5;
        border-radius: 5px;
}
.message:after {
    
    position: absolute;
    bottom: -20px;
    left: 30px;
    border-top: 20px solid #f5f5f5;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
}
.message p {
    margin-left: 0px;
}

.customer-reviews {
    flex-basis: 25%;
    text-align: left;
}
.img-avatar img {
    width: 100px;
    height: 100px;
    margin-top: 25px;
   
}
.reviews {
    display: flex;
    justify-content: space-between;
    padding: 0px 100px 0px 100px;
    margin-left: 250px;
}
.customer {
    display: flex;
    justify-content: flex-start;
}
.customer-name {
    padding: 30px 10px;
}
.customer-name p {
    margin-top: 0px;
    margin-left: 0px;
}
.axure {
    
    background-image: url(https://media.discordapp.net/attachments/903377231655608390/910131148888367134/unknown.png?width=960&height=223);
background-size: 100%;
    text-align: center;
background-repeat: no-repeat;

}
.axure h1 {
    text-transform: uppercase;
    color: whitesmoke;
    margin-top: 100px;
    padding-top: 150px;
}
.white-line {
    width: 80px;
    height: 2px;
    margin-left: 1150px;
    background:whitesmoke; 
}
.axure p {
    color: whitesmoke;
}
.down-download {
    background: none;
       color: rgb(235, 232, 232);
       font-size: 20px;
       margin-top: 50px;
       margin-left: 230px;
       border: 2px solid #f1eeee;
       padding: 10px 55px;
       border-radius: 10px;
      
}
.image-town {
    padding-bottom: 100px;
}
.customers-feedbacks {
    text-align: center;
    padding-bottom: 150px;
}
.tomato-line {
    width: 80px;
    height: 2px;
    margin-left: 1150px;
    background: tomato;
}
.customers-feedbacks h1 {
    margin-top: 100px;
}
.contacts {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-left: 350px;
  
}
.contacts label {
    color:silver;
    margin-left: 50px;
    
}
.contacts input {
    
          color: rgb(139, 131, 131);
          font-size: 1px;
          padding: 0px;
          width: 80%;
          height: 5px;
          margin-left: 100px;
          margin-bottom: 35px;
          
}
#message {
    border:none;
    border-bottom: 2px solid; 
    color: rgb(209, 202, 202);
    margin-right: 150px;
    font-size: 15px;
    margin-bottom: 50px;
}
.download-feedbacks {
    background:tomato;
    border:none;
    color:white;
    padding: 15px 30px;
    background: tomato;
    border-radius: 5px;
    margin-left: 250px;
   
}
.container-footer-icons {
    display: flex;
    justify-content: space-between;
      text-align: center;
     
}
 
.container-footer-icons ul {
 list-style: none;
 margin-left: 250px;
 padding: 0px 50px;
 margin-bottom: 0px;

}
.container-footer-icons a {
    padding: 20px;
}
.icons1 {
    width: 50px;
    height: 50px;
}
footer {
padding-top: 10px;
padding-bottom: 20px;
text-align: center;
background: rgb(78, 71, 71);
}
.date {
    color: rgb(224, 221, 221);
    font-size: 13px;
    margin-top: 15px;
    margin-left: 250px;
    }
